<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <h2>Pages</h2>
    <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let page of pages"
          (click)="selectPage(page)"
          [class.active]="page === selectedPage">
          {{page.name}}
        </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewPage()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <app-page-details
     [page]="selectedPage"
     [pages]="pages"
     [createHandler]="addPage"
     [updateHandler]="updatePage"
     [deleteHandler]="deletePage">
    </app-page-details>
  </div>
</div>
