<div (mouseenter)="pause()" (mouseleave)="play()" class="carousel slide">
  <ol class="carousel-indicators" [hidden]="slides.length <= 1">
    <li *ngFor="let slide of slides" [class.active]="slide.active === true" (click)="select(slide)"></li>
  </ol>
  <div class="carousel-inner">
    <ng-content></ng-content>
  </div>
  <a class="left carousel-control" (click)="prev()" [hidden]="!slides.length">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" (click)="next()" [hidden]="!slides.length">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
