/* Navigation bar */
.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.tabs li {
  display: table-cell;
}

.tabs li a {
  display: block;
}

.primary-nav {
  text-align: center;
  border-radius: 4px;
  position: fixed;
  height: 48px;
  width: 100%;
  top: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.primary-nav a {
  padding: 1em;
  background-color: #BADA55;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.primary-nav a:hover:not(.active) {
  background-color: #A3C43B;
}

.primary-nav a.active {
  color: #666;
  background-color: #ddd;
}

/* Sub Menu */
.primary-nav ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
}

.primary-nav li {
  position: relative;
  margin: 0;
  padding: 0;
}

.primary-nav ul li {
  display: block;
}

.primary-nav ul ul {
  position: relative;
}

.primary-nav ul li li a {
  background-color: pink;
}

.primary-nav ul li li a:hover {
  background-color: #983BC4;
}


.primary-nav li:hover ul {
  display: block;
}

/* Page content */
main {
  padding: 8px;
  background-color: #fff;
}

#content {
  box-sizing: border-box;
  border: 0;
  height: 100%;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  padding-block-end: 10px;
  padding-block-start: 48px;
  max-width: 600px;
  text-align: center;
  flex: 1;
}

#content > div {
  padding: 70px 0;
}

/* Footer */
footer li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

footer {
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 48px;
  overflow: hidden;
  border-radius: 0;
  background-color: #BADA55;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
