/* Page content */
main {
  padding: 8px;
  background-color: #fff;
}

#content {
  box-sizing: border-box;
  border: 0;
  height: 100%;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  padding-block-end: 10px;
  padding-block-start: 48px;
  max-width: 600px;
  text-align: center;
  flex: 1;
}
